from https://udsmapper.org/zip-code-to-zcta-crosswalk/-- misses about 500 ZIP_CODEs, but better than 33k ZCTAS

In [ ]:
import pandas

In [3]:
URL = 'https://udsmapper.org/wp-content/uploads/2020/09/Zip_to_zcta_crosswalk_2020.xlsx'

In [6]:
df = pandas.read_excel('https://udsmapper.org/wp-content/uploads/2020/09/Zip_to_zcta_crosswalk_2020.xlsx')

In [8]:
df

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,zip_join_type
0,501,Holtsville,NY,Post Office or large volume customer,11742,Spatial join to ZCTA
1,544,Holtsville,NY,Post Office or large volume customer,11742,Spatial join to ZCTA
2,601,Adjuntas,PR,ZIP Code Area,00601,ZIP Matches ZCTA
3,602,Aguada,PR,ZIP Code Area,00602,ZIP Matches ZCTA
4,603,Aguadilla,PR,ZIP Code Area,00603,ZIP Matches ZCTA
...,...,...,...,...,...,...
41099,99926,Metlakatla,AK,ZIP Code Area,99926,ZIP Matches ZCTA
41100,99927,Point Baker,AK,ZIP Code Area,99927,ZIP Matches ZCTA
41101,99928,Ward Cove,AK,Post Office or large volume customer,99901,Spatial join to ZCTA
41102,99929,Wrangell,AK,ZIP Code Area,99929,ZIP Matches ZCTA
41103,99950,Ketchikan,AK,ZIP Code Area,99921,Spatial join to ZCTA

In [20]:
zips = df['ZIP_CODE']

In [21]:
assert len(zips) == len(zips.drop_duplicates())

In [23]:
zips = zips.copy().sort_values()

In [24]:
str_zips = zips.apply(lambda i : str(i).zfill(5))

In [25]:
str_zips

0        00501
1        00544
2        00601
3        00602
4        00603
         ...
41099    99926
41100    99927
41101    99928
41102    99929
41103    99950
Name: ZIP_CODE, Length: 41104, dtype: object

In [28]:
str_zips.to_csv('data/__ZIPCODES.csv')